<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sharingvehicledesktop.Properties.Settings.conexao"
            connectionString="server=localhost;user id=root;password=anacarolina;persistsecurityinfo=True;database=sharingvehicle"
            providerName="MySql.Data.MySqlClient" />
        <add name="sharingvehicledesktop.Properties.Settings.conexaoP"
            connectionString="server=localhost;user id=root;password=;persistsecurityinfo=True;database=sharingvehicle" />
        <add name="sharingvehicledesktop.Properties.Settings.conexaoA"
            connectionString="Database=sharingvehicle;Data Source=br-cdbr-azure-south-b.cloudapp.net;User Id=b114183ff158fc;Password=d163c872" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>